[submodule "proxyfs-jrpc-client"]
	path = jrpcclient
	url = git@github.com:gerardgine/proxyfs-jrpc-client.git
	branch = master
[submodule "proxyfs-vfs"]
	path = vfs
	url = git@github.com:gerardgine/proxyfs-vfs.git
	branch = master
